body {
    background-color: darkslategray;
    margin: 0;
    padding: 0;
}
.header {
    padding: 1px;
    text-align: center;
    color: white;
    background-color: rgb(23, 37, 37);
    width: 100%;
    font-size: 20px;
}
.header .color {
    color: red;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 100vh;
}
.content p {
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 40px;
}
.content img {
    max-width: 60%;
    max-height: 60%;
    border: 2px solid black;
}
.content img:hover {
    max-width: 75%;
    max-height: 75%;
}
.footer {
    background-color: rgb(23, 37, 37);
    text-align: center;
    padding: 1px;
    color: white;
}
@media screen and (max-width:800px) {
    .content{
        height: 100%;
    }
    .content p{
        font-size: 20px;
    }
    .content img {
        max-width: 80%;
        max-height: 80%;
        border: 2px solid black;
    }
    .content img:hover {
        max-width: 95%;
        max-height: 95%;
        border: 2px solid black;
    }
}